.checkout-container {
  padding: 20px;
  background: white;
  max-width: 600px;
  margin: 20px auto;
  border-radius: 10px;
}

.checkout-container a {
  text-decoration: underline;
  color: rgb(0, 187, 255)
}

.checkout-container a:hover {
  color: blue;
}

.checkout-container input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

.place-order-btn {
  background: #1e90ff;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
}

.checkout-summary {
  margin-top: 15px;
  background: #f5f5f5;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(80, 80, 80);
  display: block;
}

.checkout-summary h3 {
  margin-bottom: 10px;
}

.checkout-summary p {
  margin: 5px 0;
}

.checkout-summary p strong {
  font-size: 16px;
}

.checkout-title {
  padding-bottom: 5px;
}

@media (max-width: 600px) {
  .checkout-container {
    width: 90%;
  }
}
