.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.product-search {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-wrapper {
  position: relative;
  width: 60%;
}

.search-input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* search icon */
.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  opacity: 0.6;
  pointer-events: none;
}

/* hide icon when typing */
.search-input:not(:placeholder-shown) + .search-icon {
  display: none;
}




@media (max-width: 1000px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .product-search input {
    width: 90%;
  }

  .search-input {
    width: 90%;
  }

}